body{
    margin: 0;
}

.mousechaser{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #252525;
    transform-origin: right;
    pointer-events: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 600px;
    background: #eeeeee;
    border-radius: 16px;
    position: relative;
}

.container2{
    border-radius: 50%;
    width: 400px;
}

.center{
    position: absolute;
    height: 120px;
    width: 120px;
    border: 2px solid red;
}

section{
    margin-top: 240px;
    display: flex;
    justify-content: center;
}

.zoom1{
    background: darkred;
    padding-bottom: 1200px;
}