/*mouse chaser*/

.mousechaser{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #252525
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 600px;
    background: #eeeeee;
    border-radius: 16px
}