body{
    margin: 0;
    font-family: arial black;
}

.mousechaser{
    height: 40px;
    min-width: 40px;
    background: #252525;
    transform-origin: right;
    pointer-events: none;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 600px;
    background: #eeeeee;
    border-radius: 16px;
    position: relative;
}

.container2{
    border-radius: 50%;
    width: 400px;
}

.center{
    position: absolute;
    height: 120px;
    width: 120px;
    border: 2px solid red;
}

section{
    margin-top: 240px;
    display: flex;
    justify-content: center;
}

.zoom1 {
    background: darkred;
    padding-bottom: 800px;
    color: white;
}

.zoom2{
    width: 100%;
    object-fit: contain;
    object-position: top;
}

.zoom3{
    height: 100vh;
    width: 100vw;
    background: #2f2f2f;
    position: absolute;
}

.section--zoom3{
    align-items: center;
    position: relative;
    height: 100vh;
}